# Configuration file

autoclave {
    I:"dustAmber;gt.integrated_circuit;steam;_6400"=6400
    I:"dustBauxite;dustPotassiumHydroxide;steam;_3000"=3000
    I:"dustBauxite;dustSmallPotassiumHydroxide;steam;_1500"=1500
    I:"dustBauxite;dustSmallSodiumHydroxide;steam;_1500"=1500
    I:"dustBauxite;dustSodiumHydroxide;steam;_3000"=3000
    I:"dustEnergiumRed;gt.integrated_circuit;steam;_3000"=3000
    I:"dustSmallAmber;gt.integrated_circuit;steam;_6400"=6400
    I:"dustSmallBauxite;dustPotassiumHydroxide;steam;_3000"=3000
    I:"dustSmallBauxite;dustSmallPotassiumHydroxide;steam;_1500"=1500
    I:"dustSmallBauxite;dustSmallSodiumHydroxide;steam;_1500"=1500
    I:"dustSmallBauxite;dustSodiumHydroxide;steam;_3000"=3000
    I:"dustTinyBauxite;dustPotassiumHydroxide;steam;_3000"=3000
    I:"dustTinyBauxite;dustSmallPotassiumHydroxide;steam;_1500"=1500
    I:"dustTinyBauxite;dustSmallSodiumHydroxide;steam;_1500"=1500
    I:"dustTinyBauxite;dustSodiumHydroxide;steam;_3000"=3000
    I:"item.appliedenergistics2.ItemCrystalSeed.Certus;gt.integrated_circuit;steam;_1500"=1500
    I:"item.appliedenergistics2.ItemCrystalSeed.Fluix;gt.integrated_circuit;steam;_1500"=1500
    I:"item.appliedenergistics2.ItemCrystalSeed.Nether;gt.integrated_circuit;steam;_1500"=1500
}


