# Configuration file

freezer {
    I:"Unknown;ic2distilledwater;_16"=16
    I:"Unknown;water;_16"=16
    I:"gt.block.log.a.0;ic2distilledwater;_16"=16
    I:"gt.block.log.a.0;water;_16"=16
    I:"gt.block.log.a.10;ic2distilledwater;_16"=16
    I:"gt.block.log.a.10;water;_16"=16
    I:"gt.block.log.a.11;ic2distilledwater;_16"=16
    I:"gt.block.log.a.11;water;_16"=16
    I:"gt.block.log.a.12;ic2distilledwater;_16"=16
    I:"gt.block.log.a.12;water;_16"=16
    I:"gt.block.log.a.13;ic2distilledwater;_16"=16
    I:"gt.block.log.a.13;water;_16"=16
    I:"gt.block.log.a.14;ic2distilledwater;_16"=16
    I:"gt.block.log.a.14;water;_16"=16
    I:"gt.block.log.a.15;ic2distilledwater;_16"=16
    I:"gt.block.log.a.15;water;_16"=16
    I:"gt.block.log.a.1;ic2distilledwater;_16"=16
    I:"gt.block.log.a.1;water;_16"=16
    I:"gt.block.log.a.2;ic2distilledwater;_16"=16
    I:"gt.block.log.a.2;water;_16"=16
    I:"gt.block.log.a.3;ic2distilledwater;_16"=16
    I:"gt.block.log.a.3;water;_16"=16
    I:"gt.block.log.a.4;ic2distilledwater;_16"=16
    I:"gt.block.log.a.4;water;_16"=16
    I:"gt.block.log.a.5;ic2distilledwater;_16"=16
    I:"gt.block.log.a.5;water;_16"=16
    I:"gt.block.log.a.6;ic2distilledwater;_16"=16
    I:"gt.block.log.a.6;water;_16"=16
    I:"gt.block.log.a.7;ic2distilledwater;_16"=16
    I:"gt.block.log.a.7;water;_16"=16
    I:"gt.block.log.a.8;ic2distilledwater;_16"=16
    I:"gt.block.log.a.8;water;_16"=16
    I:"gt.block.log.a.9;ic2distilledwater;_16"=16
    I:"gt.block.log.a.9;water;_16"=16
    I:"gt.block.log.a.fireproof.0;ic2distilledwater;_16"=16
    I:"gt.block.log.a.fireproof.0;water;_16"=16
    I:"gt.block.log.a.fireproof.10;ic2distilledwater;_16"=16
    I:"gt.block.log.a.fireproof.10;water;_16"=16
    I:"gt.block.log.a.fireproof.11;ic2distilledwater;_16"=16
    I:"gt.block.log.a.fireproof.11;water;_16"=16
    I:"gt.block.log.a.fireproof.12;ic2distilledwater;_16"=16
    I:"gt.block.log.a.fireproof.12;water;_16"=16
    I:"gt.block.log.a.fireproof.13;ic2distilledwater;_16"=16
    I:"gt.block.log.a.fireproof.13;water;_16"=16
    I:"gt.block.log.a.fireproof.14;ic2distilledwater;_16"=16
    I:"gt.block.log.a.fireproof.14;water;_16"=16
    I:"gt.block.log.a.fireproof.15;ic2distilledwater;_16"=16
    I:"gt.block.log.a.fireproof.15;water;_16"=16
    I:"gt.block.log.a.fireproof.1;ic2distilledwater;_16"=16
    I:"gt.block.log.a.fireproof.1;water;_16"=16
    I:"gt.block.log.a.fireproof.2;ic2distilledwater;_16"=16
    I:"gt.block.log.a.fireproof.2;water;_16"=16
    I:"gt.block.log.a.fireproof.3;ic2distilledwater;_16"=16
    I:"gt.block.log.a.fireproof.3;water;_16"=16
    I:"gt.block.log.a.fireproof.4;ic2distilledwater;_16"=16
    I:"gt.block.log.a.fireproof.4;water;_16"=16
    I:"gt.block.log.a.fireproof.5;ic2distilledwater;_16"=16
    I:"gt.block.log.a.fireproof.5;water;_16"=16
    I:"gt.block.log.a.fireproof.6;ic2distilledwater;_16"=16
    I:"gt.block.log.a.fireproof.6;water;_16"=16
    I:"gt.block.log.a.fireproof.7;ic2distilledwater;_16"=16
    I:"gt.block.log.a.fireproof.7;water;_16"=16
    I:"gt.block.log.a.fireproof.8;ic2distilledwater;_16"=16
    I:"gt.block.log.a.fireproof.8;water;_16"=16
    I:"gt.block.log.a.fireproof.9;ic2distilledwater;_16"=16
    I:"gt.block.log.a.fireproof.9;water;_16"=16
    I:"gt.block.log.b.0;ic2distilledwater;_16"=16
    I:"gt.block.log.b.0;water;_16"=16
    I:"gt.block.log.b.10;ic2distilledwater;_16"=16
    I:"gt.block.log.b.10;water;_16"=16
    I:"gt.block.log.b.11;ic2distilledwater;_16"=16
    I:"gt.block.log.b.11;water;_16"=16
    I:"gt.block.log.b.12;ic2distilledwater;_16"=16
    I:"gt.block.log.b.12;water;_16"=16
    I:"gt.block.log.b.13;ic2distilledwater;_16"=16
    I:"gt.block.log.b.13;water;_16"=16
    I:"gt.block.log.b.14;ic2distilledwater;_16"=16
    I:"gt.block.log.b.14;water;_16"=16
    I:"gt.block.log.b.15;ic2distilledwater;_16"=16
    I:"gt.block.log.b.15;water;_16"=16
    I:"gt.block.log.b.1;ic2distilledwater;_16"=16
    I:"gt.block.log.b.1;water;_16"=16
    I:"gt.block.log.b.2;ic2distilledwater;_16"=16
    I:"gt.block.log.b.2;water;_16"=16
    I:"gt.block.log.b.3;ic2distilledwater;_16"=16
    I:"gt.block.log.b.3;water;_16"=16
    I:"gt.block.log.b.4;ic2distilledwater;_16"=16
    I:"gt.block.log.b.4;water;_16"=16
    I:"gt.block.log.b.5;ic2distilledwater;_16"=16
    I:"gt.block.log.b.5;water;_16"=16
    I:"gt.block.log.b.6;ic2distilledwater;_16"=16
    I:"gt.block.log.b.6;water;_16"=16
    I:"gt.block.log.b.7;ic2distilledwater;_16"=16
    I:"gt.block.log.b.7;water;_16"=16
    I:"gt.block.log.b.8;ic2distilledwater;_16"=16
    I:"gt.block.log.b.8;water;_16"=16
    I:"gt.block.log.b.9;ic2distilledwater;_16"=16
    I:"gt.block.log.b.9;water;_16"=16
    I:"gt.block.log.b.fireproof.0;ic2distilledwater;_16"=16
    I:"gt.block.log.b.fireproof.0;water;_16"=16
    I:"gt.block.log.b.fireproof.10;ic2distilledwater;_16"=16
    I:"gt.block.log.b.fireproof.10;water;_16"=16
    I:"gt.block.log.b.fireproof.11;ic2distilledwater;_16"=16
    I:"gt.block.log.b.fireproof.11;water;_16"=16
    I:"gt.block.log.b.fireproof.12;ic2distilledwater;_16"=16
    I:"gt.block.log.b.fireproof.12;water;_16"=16
    I:"gt.block.log.b.fireproof.13;ic2distilledwater;_16"=16
    I:"gt.block.log.b.fireproof.13;water;_16"=16
    I:"gt.block.log.b.fireproof.14;ic2distilledwater;_16"=16
    I:"gt.block.log.b.fireproof.14;water;_16"=16
    I:"gt.block.log.b.fireproof.15;ic2distilledwater;_16"=16
    I:"gt.block.log.b.fireproof.15;water;_16"=16
    I:"gt.block.log.b.fireproof.1;ic2distilledwater;_16"=16
    I:"gt.block.log.b.fireproof.1;water;_16"=16
    I:"gt.block.log.b.fireproof.2;ic2distilledwater;_16"=16
    I:"gt.block.log.b.fireproof.2;water;_16"=16
    I:"gt.block.log.b.fireproof.3;ic2distilledwater;_16"=16
    I:"gt.block.log.b.fireproof.3;water;_16"=16
    I:"gt.block.log.b.fireproof.4;ic2distilledwater;_16"=16
    I:"gt.block.log.b.fireproof.4;water;_16"=16
    I:"gt.block.log.b.fireproof.5;ic2distilledwater;_16"=16
    I:"gt.block.log.b.fireproof.5;water;_16"=16
    I:"gt.block.log.b.fireproof.6;ic2distilledwater;_16"=16
    I:"gt.block.log.b.fireproof.6;water;_16"=16
    I:"gt.block.log.b.fireproof.7;ic2distilledwater;_16"=16
    I:"gt.block.log.b.fireproof.7;water;_16"=16
    I:"gt.block.log.b.fireproof.8;ic2distilledwater;_16"=16
    I:"gt.block.log.b.fireproof.8;water;_16"=16
    I:"gt.block.log.b.fireproof.9;ic2distilledwater;_16"=16
    I:"gt.block.log.b.fireproof.9;water;_16"=16
    I:"gt.integrated_circuit;ic2distilledwater;_128"=128
    I:"gt.integrated_circuit;ic2distilledwater;_16"=16
    I:"gt.integrated_circuit;ic2distilledwater;_32"=32
    I:"gt.integrated_circuit;ic2distilledwater;_64"=64
    I:"gt.integrated_circuit;oxygen;_25"=25
    I:"gt.integrated_circuit;water;_128"=128
    I:"gt.integrated_circuit;water;_16"=16
    I:"gt.integrated_circuit;water;_32"=32
    I:"gt.integrated_circuit;water;_64"=64
    I:"ic2.blockRubWood;ic2distilledwater;_16"=16
    I:"ic2.blockRubWood;water;_16"=16
    I:"item.Log;ic2distilledwater;_16"=16
    I:"item.Log;water;_16"=16
    I:"tile.AmethystLog;ic2distilledwater;_16"=16
    I:"tile.AmethystLog;water;_16"=16
    I:"tile.DiamondLog;ic2distilledwater;_16"=16
    I:"tile.DiamondLog;water;_16"=16
    I:"tile.PearLog;ic2distilledwater;_16"=16
    I:"tile.PearLog;water;_16"=16
    I:"tile.TanzaniteLog;ic2distilledwater;_16"=16
    I:"tile.TanzaniteLog;water;_16"=16
    I:"tile.WoodHoriz2;ic2distilledwater;_16"=16
    I:"tile.WoodHoriz2;water;_16"=16
    I:"tile.WoodHoriz4;ic2distilledwater;_16"=16
    I:"tile.WoodHoriz4;water;_16"=16
    I:"tile.WoodHoriz;ic2distilledwater;_16"=16
    I:"tile.WoodHoriz;water;_16"=16
    I:"tile.WoodVert;ic2distilledwater;_16"=16
    I:"tile.WoodVert;water;_16"=16
    I:"tile.alien_log;ic2distilledwater;_16"=16
    I:"tile.alien_log;water;_16"=16
    I:"tile.blockMagicalLog.greatwood;ic2distilledwater;_16"=16
    I:"tile.blockMagicalLog.greatwood;water;_16"=16
    I:"tile.blockMagicalLog.silverwood;ic2distilledwater;_16"=16
    I:"tile.blockMagicalLog.silverwood;water;_16"=16
    I:"tile.crystal_log.crystalWood;ic2distilledwater;_16"=16
    I:"tile.crystal_log.crystalWood;water;_16"=16
    I:"tile.enderTreeLog;ic2distilledwater;_16"=16
    I:"tile.enderTreeLog;water;_16"=16
    I:"tile.europa_log.europa_wood;ic2distilledwater;_16"=16
    I:"tile.europa_log.europa_wood;water;_16"=16
    I:"tile.for.logs.32767;ic2distilledwater;_16"=16
    I:"tile.for.logs.32767;water;_16"=16
    I:"tile.for.logsFireproof.32767;ic2distilledwater;_16"=16
    I:"tile.for.logsFireproof.32767;water;_16"=16
    I:"tile.fronos_log.maple_wood;ic2distilledwater;_16"=16
    I:"tile.fronos_log.maple_wood;water;_16"=16
    I:"tile.log.acacia;ic2distilledwater;_16"=16
    I:"tile.log.acacia;water;_16"=16
    I:"tile.log.oak;ic2distilledwater;_16"=16
    I:"tile.log.oak;water;_16"=16
    I:"tile.log;ic2distilledwater;_16"=16
    I:"tile.log;water;_16"=16
    I:"tile.mfr.rubberwood.log;ic2distilledwater;_16"=16
    I:"tile.mfr.rubberwood.log;water;_16"=16
    I:"tile.nibiru_log.orange_wood;ic2distilledwater;_16"=16
    I:"tile.nibiru_log.orange_wood;water;_16"=16
    I:"tile.palaeorapheLog;ic2distilledwater;_16"=16
    I:"tile.palaeorapheLog;water;_16"=16
    I:"tile.pamCinnamon;ic2distilledwater;_16"=16
    I:"tile.pamCinnamon;water;_16"=16
    I:"tile.pamMaple;ic2distilledwater;_16"=16
    I:"tile.pamMaple;water;_16"=16
    I:"tile.pamPaperbark;ic2distilledwater;_16"=16
    I:"tile.pamPaperbark;water;_16"=16
}


