# Configuration file

lathe {
    I:"Unknown;_80"=80
    I:"boltAluminium;_24"=24
    I:"boltIridium;_40"=40
    I:"boltShadowSteel;_24"=24
    I:"gt.block.beam.1.0;_80"=80
    I:"gt.block.beam.1.1;_80"=80
    I:"gt.block.beam.1.2;_80"=80
    I:"gt.block.beam.1.3;_80"=80
    I:"gt.block.beam.1.fireproof.0;_80"=80
    I:"gt.block.beam.1.fireproof.1;_80"=80
    I:"gt.block.beam.1.fireproof.2;_80"=80
    I:"gt.block.beam.1.fireproof.3;_80"=80
    I:"gt.block.beam.2.0;_80"=80
    I:"gt.block.beam.2.1;_80"=80
    I:"gt.block.beam.2.2;_80"=80
    I:"gt.block.beam.2.3;_80"=80
    I:"gt.block.beam.2.fireproof.0;_80"=80
    I:"gt.block.beam.2.fireproof.1;_80"=80
    I:"gt.block.beam.2.fireproof.2;_80"=80
    I:"gt.block.beam.2.fireproof.3;_80"=80
    I:"gt.block.beam.3.0;_80"=80
    I:"gt.block.beam.3.1;_80"=80
    I:"gt.block.beam.a.0;_80"=80
    I:"gt.block.beam.a.1;_80"=80
    I:"gt.block.beam.a.2;_80"=80
    I:"gt.block.beam.a.3;_80"=80
    I:"gt.block.beam.a.fireproof.0;_80"=80
    I:"gt.block.beam.a.fireproof.1;_80"=80
    I:"gt.block.beam.a.fireproof.2;_80"=80
    I:"gt.block.beam.a.fireproof.3;_80"=80
    I:"gt.block.beam.b.0;_80"=80
    I:"gt.block.beam.b.1;_80"=80
    I:"gt.block.beam.b.2;_80"=80
    I:"gt.block.beam.b.3;_80"=80
    I:"gt.block.beam.b.fireproof.0;_80"=80
    I:"gt.block.beam.b.fireproof.1;_80"=80
    I:"gt.block.beam.b.fireproof.2;_80"=80
    I:"gt.block.beam.b.fireproof.3;_80"=80
    I:"gt.block.log.1.0;_80"=80
    I:"gt.block.log.1.1;_80"=80
    I:"gt.block.log.1.2;_80"=80
    I:"gt.block.log.1.3;_80"=80
    I:"gt.block.log.1.fireproof.0;_80"=80
    I:"gt.block.log.1.fireproof.1;_80"=80
    I:"gt.block.log.1.fireproof.2;_80"=80
    I:"gt.block.log.1.fireproof.3;_80"=80
    I:"gt.block.log.a.0;_80"=80
    I:"gt.block.log.a.10;_80"=80
    I:"gt.block.log.a.11;_80"=80
    I:"gt.block.log.a.12;_80"=80
    I:"gt.block.log.a.13;_80"=80
    I:"gt.block.log.a.14;_80"=80
    I:"gt.block.log.a.15;_80"=80
    I:"gt.block.log.a.1;_80"=80
    I:"gt.block.log.a.2;_80"=80
    I:"gt.block.log.a.3;_80"=80
    I:"gt.block.log.a.4;_80"=80
    I:"gt.block.log.a.5;_80"=80
    I:"gt.block.log.a.6;_80"=80
    I:"gt.block.log.a.7;_80"=80
    I:"gt.block.log.a.8;_80"=80
    I:"gt.block.log.a.9;_80"=80
    I:"gt.block.log.a.fireproof.0;_80"=80
    I:"gt.block.log.a.fireproof.10;_80"=80
    I:"gt.block.log.a.fireproof.11;_80"=80
    I:"gt.block.log.a.fireproof.12;_80"=80
    I:"gt.block.log.a.fireproof.13;_80"=80
    I:"gt.block.log.a.fireproof.14;_80"=80
    I:"gt.block.log.a.fireproof.15;_80"=80
    I:"gt.block.log.a.fireproof.1;_80"=80
    I:"gt.block.log.a.fireproof.2;_80"=80
    I:"gt.block.log.a.fireproof.3;_80"=80
    I:"gt.block.log.a.fireproof.4;_80"=80
    I:"gt.block.log.a.fireproof.5;_80"=80
    I:"gt.block.log.a.fireproof.6;_80"=80
    I:"gt.block.log.a.fireproof.7;_80"=80
    I:"gt.block.log.a.fireproof.8;_80"=80
    I:"gt.block.log.a.fireproof.9;_80"=80
    I:"gt.block.log.b.0;_80"=80
    I:"gt.block.log.b.10;_80"=80
    I:"gt.block.log.b.11;_80"=80
    I:"gt.block.log.b.12;_80"=80
    I:"gt.block.log.b.13;_80"=80
    I:"gt.block.log.b.14;_80"=80
    I:"gt.block.log.b.15;_80"=80
    I:"gt.block.log.b.1;_80"=80
    I:"gt.block.log.b.2;_80"=80
    I:"gt.block.log.b.3;_80"=80
    I:"gt.block.log.b.4;_80"=80
    I:"gt.block.log.b.5;_80"=80
    I:"gt.block.log.b.6;_80"=80
    I:"gt.block.log.b.7;_80"=80
    I:"gt.block.log.b.8;_80"=80
    I:"gt.block.log.b.9;_80"=80
    I:"gt.block.log.b.fireproof.0;_80"=80
    I:"gt.block.log.b.fireproof.10;_80"=80
    I:"gt.block.log.b.fireproof.11;_80"=80
    I:"gt.block.log.b.fireproof.12;_80"=80
    I:"gt.block.log.b.fireproof.13;_80"=80
    I:"gt.block.log.b.fireproof.14;_80"=80
    I:"gt.block.log.b.fireproof.15;_80"=80
    I:"gt.block.log.b.fireproof.1;_80"=80
    I:"gt.block.log.b.fireproof.2;_80"=80
    I:"gt.block.log.b.fireproof.3;_80"=80
    I:"gt.block.log.b.fireproof.4;_80"=80
    I:"gt.block.log.b.fireproof.5;_80"=80
    I:"gt.block.log.b.fireproof.6;_80"=80
    I:"gt.block.log.b.fireproof.7;_80"=80
    I:"gt.block.log.b.fireproof.8;_80"=80
    I:"gt.block.log.b.fireproof.9;_80"=80
    I:"gt.block.planks.11;_16"=16
    I:"gt.block.planks.12;_16"=16
    I:"gt.block.planks.13;_16"=16
    I:"gt.block.planks.14;_16"=16
    I:"gt.block.planks.15;_16"=16
    I:"gt.block.planks.1;_16"=16
    I:"gt.block.planks.2;_16"=16
    I:"gt.block.planks.3;_16"=16
    I:"gt.block.planks.4;_16"=16
    I:"gt.block.planks.5;_16"=16
    I:"gt.block.planks.6;_16"=16
    I:"gt.block.planks.7;_16"=16
    I:"gt.block.planks.fireproof.11;_16"=16
    I:"gt.block.planks.fireproof.12;_16"=16
    I:"gt.block.planks.fireproof.13;_16"=16
    I:"gt.block.planks.fireproof.14;_16"=16
    I:"gt.block.planks.fireproof.15;_16"=16
    I:"gt.block.planks.fireproof.1;_16"=16
    I:"gt.block.planks.fireproof.2;_16"=16
    I:"gt.block.planks.fireproof.3;_16"=16
    I:"gt.block.planks.fireproof.4;_16"=16
    I:"gt.block.planks.fireproof.5;_16"=16
    I:"gt.block.planks.fireproof.6;_16"=16
    I:"gt.block.planks.fireproof.7;_16"=16
    I:"gt.block.planks.fireproof.9;_16"=16
    I:"gt.multiitem.randomtools.6000;_32"=32
    I:"ic2.blockRubWood;_80"=80
    I:"ingotAluminium;_192"=192
    I:"ingotElectricalSteel;_192"=192
    I:"ingotIridium;_320"=320
    I:"ingotShadowSteel;_192"=192
    I:"item.Log;_80"=80
    I:"nuggetElectricalSteel;_22"=22
    I:"plateDreamwood;_16"=16
    I:"plateGreatwood;_16"=16
    I:"plateLivingwood;_16"=16
    I:"plateShimmerwood;_16"=16
    I:"plateSilverwood;_16"=16
    I:"plateWood;_16"=16
    I:"plateWoodRubber;_16"=16
    I:"plateWoodSealed;_16"=16
    I:"tile.AmethystLog;_80"=80
    I:"tile.DiamondLog;_80"=80
    I:"tile.PearLog;_80"=80
    I:"tile.TanzaniteLog;_80"=80
    I:"tile.WoodHoriz2;_80"=80
    I:"tile.WoodHoriz4;_80"=80
    I:"tile.WoodHoriz;_80"=80
    I:"tile.WoodVert;_80"=80
    I:"tile.alien_log;_80"=80
    I:"tile.blockMagicalLog.greatwood;_80"=80
    I:"tile.blockMagicalLog.silverwood;_80"=80
    I:"tile.chisel.acacia_planks;_16"=16
    I:"tile.chisel.birch_planks;_16"=16
    I:"tile.chisel.dark_oak_planks;_16"=16
    I:"tile.chisel.jungle_planks;_16"=16
    I:"tile.chisel.oak_planks;_16"=16
    I:"tile.chisel.spruce_planks;_16"=16
    I:"tile.crystal_log.crystalWood;_80"=80
    I:"tile.dreamwood1;_16"=16
    I:"tile.dreamwood2;_16"=16
    I:"tile.dreamwood3;_16"=16
    I:"tile.dreamwood4;_16"=16
    I:"tile.dreamwood5;_16"=16
    I:"tile.enderTreeLog;_80"=80
    I:"tile.europa_log.europa_wood;_80"=80
    I:"tile.for.logs.0;_80"=80
    I:"tile.for.logs.10;_80"=80
    I:"tile.for.logs.11;_80"=80
    I:"tile.for.logs.12;_80"=80
    I:"tile.for.logs.13;_80"=80
    I:"tile.for.logs.14;_80"=80
    I:"tile.for.logs.15;_80"=80
    I:"tile.for.logs.16;_80"=80
    I:"tile.for.logs.17;_80"=80
    I:"tile.for.logs.18;_80"=80
    I:"tile.for.logs.19;_80"=80
    I:"tile.for.logs.1;_80"=80
    I:"tile.for.logs.20;_80"=80
    I:"tile.for.logs.21;_80"=80
    I:"tile.for.logs.22;_80"=80
    I:"tile.for.logs.23;_80"=80
    I:"tile.for.logs.24;_80"=80
    I:"tile.for.logs.25;_80"=80
    I:"tile.for.logs.26;_80"=80
    I:"tile.for.logs.27;_80"=80
    I:"tile.for.logs.28;_80"=80
    I:"tile.for.logs.2;_80"=80
    I:"tile.for.logs.32767;_80"=80
    I:"tile.for.logs.3;_80"=80
    I:"tile.for.logs.4;_80"=80
    I:"tile.for.logs.5;_80"=80
    I:"tile.for.logs.6;_80"=80
    I:"tile.for.logs.7;_80"=80
    I:"tile.for.logs.8;_80"=80
    I:"tile.for.logs.9;_80"=80
    I:"tile.for.logsFireproof.0;_80"=80
    I:"tile.for.logsFireproof.10;_80"=80
    I:"tile.for.logsFireproof.11;_80"=80
    I:"tile.for.logsFireproof.12;_80"=80
    I:"tile.for.logsFireproof.13;_80"=80
    I:"tile.for.logsFireproof.14;_80"=80
    I:"tile.for.logsFireproof.15;_80"=80
    I:"tile.for.logsFireproof.16;_80"=80
    I:"tile.for.logsFireproof.17;_80"=80
    I:"tile.for.logsFireproof.18;_80"=80
    I:"tile.for.logsFireproof.19;_80"=80
    I:"tile.for.logsFireproof.1;_80"=80
    I:"tile.for.logsFireproof.20;_80"=80
    I:"tile.for.logsFireproof.21;_80"=80
    I:"tile.for.logsFireproof.22;_80"=80
    I:"tile.for.logsFireproof.23;_80"=80
    I:"tile.for.logsFireproof.24;_80"=80
    I:"tile.for.logsFireproof.25;_80"=80
    I:"tile.for.logsFireproof.26;_80"=80
    I:"tile.for.logsFireproof.27;_80"=80
    I:"tile.for.logsFireproof.28;_80"=80
    I:"tile.for.logsFireproof.2;_80"=80
    I:"tile.for.logsFireproof.32767;_80"=80
    I:"tile.for.logsFireproof.3;_80"=80
    I:"tile.for.logsFireproof.4;_80"=80
    I:"tile.for.logsFireproof.5;_80"=80
    I:"tile.for.logsFireproof.6;_80"=80
    I:"tile.for.logsFireproof.7;_80"=80
    I:"tile.for.logsFireproof.8;_80"=80
    I:"tile.for.logsFireproof.9;_80"=80
    I:"tile.for.planks.0;_16"=16
    I:"tile.for.planks.10;_16"=16
    I:"tile.for.planks.11;_16"=16
    I:"tile.for.planks.12;_16"=16
    I:"tile.for.planks.13;_16"=16
    I:"tile.for.planks.14;_16"=16
    I:"tile.for.planks.15;_16"=16
    I:"tile.for.planks.16;_16"=16
    I:"tile.for.planks.17;_16"=16
    I:"tile.for.planks.18;_16"=16
    I:"tile.for.planks.19;_16"=16
    I:"tile.for.planks.1;_16"=16
    I:"tile.for.planks.20;_16"=16
    I:"tile.for.planks.21;_16"=16
    I:"tile.for.planks.22;_16"=16
    I:"tile.for.planks.23;_16"=16
    I:"tile.for.planks.24;_16"=16
    I:"tile.for.planks.25;_16"=16
    I:"tile.for.planks.26;_16"=16
    I:"tile.for.planks.27;_16"=16
    I:"tile.for.planks.28;_16"=16
    I:"tile.for.planks.2;_16"=16
    I:"tile.for.planks.3;_16"=16
    I:"tile.for.planks.4;_16"=16
    I:"tile.for.planks.5;_16"=16
    I:"tile.for.planks.6;_16"=16
    I:"tile.for.planks.7;_16"=16
    I:"tile.for.planks.8;_16"=16
    I:"tile.for.planks.9;_16"=16
    I:"tile.for.planksFireproof.0;_16"=16
    I:"tile.for.planksFireproof.10;_16"=16
    I:"tile.for.planksFireproof.11;_16"=16
    I:"tile.for.planksFireproof.12;_16"=16
    I:"tile.for.planksFireproof.13;_16"=16
    I:"tile.for.planksFireproof.14;_16"=16
    I:"tile.for.planksFireproof.15;_16"=16
    I:"tile.for.planksFireproof.16;_16"=16
    I:"tile.for.planksFireproof.17;_16"=16
    I:"tile.for.planksFireproof.18;_16"=16
    I:"tile.for.planksFireproof.19;_16"=16
    I:"tile.for.planksFireproof.1;_16"=16
    I:"tile.for.planksFireproof.20;_16"=16
    I:"tile.for.planksFireproof.21;_16"=16
    I:"tile.for.planksFireproof.22;_16"=16
    I:"tile.for.planksFireproof.23;_16"=16
    I:"tile.for.planksFireproof.24;_16"=16
    I:"tile.for.planksFireproof.25;_16"=16
    I:"tile.for.planksFireproof.26;_16"=16
    I:"tile.for.planksFireproof.27;_16"=16
    I:"tile.for.planksFireproof.28;_16"=16
    I:"tile.for.planksFireproof.2;_16"=16
    I:"tile.for.planksFireproof.3;_16"=16
    I:"tile.for.planksFireproof.4;_16"=16
    I:"tile.for.planksFireproof.5;_16"=16
    I:"tile.for.planksFireproof.6;_16"=16
    I:"tile.for.planksFireproof.7;_16"=16
    I:"tile.for.planksFireproof.8;_16"=16
    I:"tile.for.planksFireproof.9;_16"=16
    I:"tile.fronos_log.maple_wood;_80"=80
    I:"tile.glass;_16"=16
    I:"tile.livingwood1;_16"=16
    I:"tile.livingwood2;_16"=16
    I:"tile.livingwood3;_16"=16
    I:"tile.livingwood4;_16"=16
    I:"tile.livingwood5;_16"=16
    I:"tile.log.acacia;_80"=80
    I:"tile.log.big_oak;_80"=80
    I:"tile.log.birch;_80"=80
    I:"tile.log.jungle;_80"=80
    I:"tile.log.oak;_80"=80
    I:"tile.log.spruce;_80"=80
    I:"tile.log;_80"=80
    I:"tile.mfr.rubberwood.log;_80"=80
    I:"tile.nibiru_log.orange_wood;_80"=80
    I:"tile.palaeorapheLog;_80"=80
    I:"tile.pamCinnamon;_80"=80
    I:"tile.pamMaple;_80"=80
    I:"tile.pamPaperbark;_80"=80
    I:"tile.stone;_16"=16
    I:"tile.wood.acacia;_16"=16
    I:"tile.wood.big_oak;_16"=16
    I:"tile.wood.birch;_16"=16
    I:"tile.wood.jungle;_16"=16
    I:"tile.wood.oak;_16"=16
    I:"tile.wood.spruce;_16"=16
}


