# Configuration file

roll_former {
    I:"blockSolidHSLASteel;_16"=16
    I:"blockSolidIron;_16"=16
    I:"blockSolidKnightmetal;_16"=16
    I:"blockSolidMeteoricIron;_16"=16
    I:"blockSolidMeteoricSteel;_16"=16
    I:"blockSolidMeteorite;_16"=16
    I:"blockSolidPigIron;_16"=16
    I:"blockSolidSteel;_16"=16
    I:"blockSolidWroughtIron;_16"=16
    I:"ingotAluminium;_224"=224
    I:"ingotBronze;_224"=224
    I:"ingotHSLASteel;_224"=224
    I:"ingotIron;_224"=224
    I:"ingotStainlessSteel;_224"=224
    I:"ingotSteel;_224"=224
    I:"ingotTitanium;_32"=32
    I:"ingotTungsten;_32"=32
    I:"ingotTungstenCarbide;_224"=224
    I:"ingotTungstenSintered;_32"=32
    I:"ingotTungstensteel;_224"=224
    I:"ingotWroughtIron;_224"=224
    I:"plateDoubleAluminium;_768"=768
    I:"plateDoubleBrass;_768"=768
    I:"plateDoubleBronze;_768"=768
    I:"plateDoubleElectrum;_768"=768
    I:"plateDoubleGold;_768"=768
    I:"plateDoubleInvar;_768"=768
    I:"plateDoubleIron;_768"=768
    I:"plateDoublePlastic;_768"=768
    I:"plateDoubleSilver;_768"=768
    I:"plateDoubleStainlessSteel;_768"=768
    I:"plateDoubleSteel;_768"=768
    I:"plateDoubleSteelGalvanized;_768"=768
    I:"plateDoubleTinAlloy;_768"=768
    I:"plateDoubleTitanium;_768"=768
    I:"plateDoubleTungstensteel;_768"=768
    I:"plateDoubleWroughtIron;_768"=768
    I:"railGtAluminium;_16"=16
    I:"railGtBronze;_16"=16
    I:"railGtHSLASteel;_32"=32
    I:"railGtIron;_16"=16
    I:"railGtMeteoricIron;_16"=16
    I:"railGtMeteoricSteel;_32"=32
    I:"railGtMeteorite;_32"=32
    I:"railGtObsidianSteel;_32"=32
    I:"railGtStainlessSteel;_16"=16
    I:"railGtSteel;_32"=32
    I:"railGtTitanium;_64"=64
    I:"railGtTungsten;_64"=64
    I:"railGtTungstenCarbide;_32"=32
    I:"railGtTungstenSintered;_64"=64
    I:"railGtTungstensteel;_32"=32
    I:"railGtWroughtIron;_16"=16
    I:"stickAluminium;_100"=100
    I:"stickBronze;_100"=100
    I:"stickHSLASteel;_400"=400
    I:"stickIron;_200"=200
    I:"stickStainlessSteel;_200"=200
    I:"stickSteel;_400"=400
    I:"stickTitanium;_800"=800
    I:"stickTungsten;_800"=800
    I:"stickTungstenCarbide;_400"=400
    I:"stickTungstenSintered;_800"=800
    I:"stickTungstensteel;_400"=400
    I:"stickWroughtIron;_500"=500
}


